{% extends 'base.html' %}
{% block content %}
<main id="main">
      <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Projects</h2>
<!--          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>-->
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><i class="bi bi-briefcase"></i></div>
            <h4 class="title"><a href="">Rolling Dices</a></h4>
            <p class="description">The imitation of rolling dice can be an interesting project for the developers to generate a random number between 1 and 6. It is a beginner-level python project that can help in solidifying the foundation for the developers and clearing basic fundamental programming concepts.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-card-checklist"></i></div>
            <h4 class="title"><a href="">Number Guessing:</a></h4>
            <p class="description">Python beginners can start with number guessing projects that can be exciting and offer a good learning experience. The mini-game can include random numbers between 1 to 10, 1 to 100, etc. followed by a hint so that users can guess the right numbers. A simple game will include the major forms of numbers including divisible, multiples, and other combinations.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-bar-chart"></i></div>
            <h4 class="title"><a href="">Flappy Bird</a></h4>
            <p class="description">Another game that can be a great addition for Python developers is the Flappy bird game to help the developers understand the complexities most simply. The developers can use the pygame package to develop games like Flappy Bird that will help understand the type of programming involved</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bi bi-binoculars"></i></div>
            <h4 class="title"><a href="">GUI application for Calendar with Python using Tkinter</a></h4>
            <p class="description">In Python, we can make GUIs using Tkinter. If you are very imaginative and creative you can do amazing stuff with Tkinter. Here, we will make a Python Calendar GUI application using Tkinter. In this app, the user has to enter the year for which he wants to view the calendar, and then the calendar will appear.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="bi bi-brightness-high"></i></div>
            <h4 class="title"><a href="">Spreadsheet Automation:</a></h4>
            <p class="description">Repetitive tasks like updating an Excel reporting take a lot of our time. Fortunately, Python’s library openpyxl will help us automate most tasks we have to do in Excel.

The idea of this project is to use Python code to perform Excel tasks such as making a pivot table, plotting a chart. Once we finish writing the code, we just have to run the script to create a report like the one below.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
            <div class="icon"><i class="bi bi-calendar4-week"></i></div>
            <h4 class="title"><a href="">Website Blocker</a></h4>
            <p class="description">Many unwanted websites pop up while surfing the internet. However, with the help of Website Blocker, it is possible to block certain websites from opening up. The useful Python project can come in handy for developers to understand the hooks of the programming language.</p>
          </div>
        </div>

      </div>
    </section>
      </main><!-- End #main -->
{% endblock %}