{% extends 'Base.html' %}
{% block content %}
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-0">
                    <div class="container">
                        <img src="https://source.unsplash.com/800x400/?cats" class="d-block w-100 h-50">
                    </div>>
                    <div class="card-body">
                        <p class="card-text">Cat 1</p>
                        <div class="container">
                            <tr>
                                <a href="/service">Buy </a>
                                <a href="/home">More</a>
                            </tr>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="container">
                        <img src="https://source.unsplash.com/800x400/?cats" class="d-block w-100 h-50">
                    </div>>
                    <div class="card-body">
                        <p class="card-text">Cat 2</p>
                        <div class="container mx-2">
                            <tr>
                                <a href="/service">Buy </a>
                                <a href="/home">More</a>
                            </tr>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="container">
                        <img src="https://source.unsplash.com/800x360/?cats" class="d-block w-100 h-50">
                    </div>>
                    <div class="card-body">
                        <p class="card-text">Cat 3</p>
                        <div class="container mx-2">
                            <tr>
                                <a href="/service">Buy </a>
                                <a href="/home">More</a>
                            </tr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}